<!-- <app-employee-list></app-employee-list>

<app-employee-detail></app-employee-detail>

<app-ng-model></app-ng-model>

<app-ng-if></app-ng-if>

<app-ng-for></app-ng-for>

<app-ng-switch></app-ng-switch>

<app-pipes></app-pipes>

<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/department" routerLinkActive="active">Department</a>
  <a routerLink="/employee" routerLinkActive="active">Employee</a>
</nav>

<router-outlet></router-outlet>

<app-todo-list></app-todo-list> -->

<div class="container jumbotron">
  <app-edit></app-edit>

  <app-list></app-list>

</div>
